<% if (post.categories && post.categories.length){ %>
	<span class="ico-folder"></span>
    <%- list_categories(post.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: ', '
    }) %>
<% } %>