#sidebar
  padding-left: 12px
  @media mq-normal
    column(sidebar-column)
  @media mq-mobile
    display: none


.widget-wrap
  margin: 30px 0

.widget-title
  @extend $block-caption
  letter-spacing: 0px
  color: #222

.widget
  color: color-sidebar-text
  background: transparent
  padding: 15px 0 0
  border-top: 1px solid #333
  a
    color: #555
    text-decoration: none
    &:hover
      color: color-link-hover
      text-decoration: none
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc

.widget_athemes_tabs .widget
  border-width: 0
  ul
    background: transparent;
    border-bottom: 1px solid #333;
    li
      margin: 0 0 15px;
      a
        margin: 0;
        font-size: 1em;
        text-transform: uppercase;
        line-height: 1.2;
        color: #222;
        font-family: font-oswald
        &:hover
          color: color-theme

.widget-social-icons 
  li
    float: left
    margin: 5px 10px 5px 0
    text-align: center